body{
    margin:0;
}
.header{
    background-color: skyblue;
    text-align: center;
}
.logo
{
    color:blue;
    font-size:40px;
}
.header input{
    font-size: 20px;
    margin:20px 0;
}